@{
    ViewData["Title"] = "Hero Search";
}

<!-- Jumbotron Header -->
<header class="jumbotron my-4 HeroSpotlight">
    <h1 class="display-3 ComicTitle">Captain Marvel</h1>
    <div class="desktop">
        <div class="HeroSpotlightDesc">
            <p class="lead ">When head of NASA security Carol Danvers was exposed to a powerful alien device, she transformed into the mighty cosmic powered hero, Captain Marvel!</p>
        </div>
        <a href="https://www.marvel.com/characters/captain-marvel-carol-danvers" target="_blank" class="comicbutton comicbutton-accent">Learn More!</a>
    </div>
</header>
<div class="row mobile">
    <p class="lead ">When head of NASA security Carol Danvers was exposed to a powerful alien device, she transformed into the mighty cosmic powered hero, Captain Marvel!</p>
    <a href="https://www.marvel.com/characters/captain-marvel-carol-danvers" target="_blank" class="comicbutton comicbutton-accent ">Learn More!</a>
</div>

<!-- Page Features -->
<div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/CaptainMarvelcomic1.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Captain Marvel Vol. 1: Rise of Alpha Flight</h4>
                <p class="card-text">Oh Captain, my Captain! Carol Danvers soars higher than ever with her greatest mission yet — leading Earth's first line of defense, the all-new Alpha Flight space program! </p>
            </div>
            <div class="card-footer">
                <a href="https://comicstore.marvel.com/Captain-Marvel-Vol-1-Rise-of-Alpha-Flight/digital-comic/42215?r=1" target="_blank" class="comicbutton comicbutton-accent">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/CaptainMarvelcomic2.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Captain Marvel Vol. 2: Civil War II</h4>
                <p class="card-text">Old friends face off as bitter enemies in an event that will change Captain Marvel's life forever! As a new Civil War erupts, Carol Danvers finds herself at the very forefront of the conflict.</p>
            </div>
            <div class="card-footer">
                <a href="https://comicstore.marvel.com/Captain-Marvel-Vol-2-Civil-War-II/digital-comic/44050?r=1" target="_blank" class="comicbutton comicbutton-accent">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/CaptainMarvelcomic3.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Captain Marvel: Earth's Mightiest Hero Vol. 5</h4>
                <p class="card-text">t’s a bold new frontier for Carol Danvers, soaring to ever greater heights as the leader of the all-new Alpha Flight space program! Yup, Alpha Flight — including classic favorites Puck, Sasquatch and Aurora! </p>
            </div>
            <div class="card-footer">
                <a href="https://comicstore.marvel.com/Captain-Marvel-Earths-Mightiest-Hero-Vol-5/digital-comic/50626" target="_blank" class="comicbutton comicbutton-accent">Find Out More!</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/images/CaptainMarvelcomic4.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">Captain Marvel (2016) #3</h4>
                <p class="card-text">Captain Marvel's powers are on the fritz and the timing couldn't be worse. All evidence says that Alpha Flight has a traitor in their midst. How will Carol and her crew figure out the origins of the mystery ship when they can't even trust each other?</p>
            </div>
            <div class="card-footer">
                <a href="https://comicstore.marvel.com/Captain-Marvel-2016-3/digital-comic/41278?r=1" target="_blank" class="comicbutton comicbutton-accent">Find Out More!</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
